<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="./04.css">
    <title>Lists</title>
</head>

<body>

    <div id="app">
        <h1>Users List</h1>
        <ul>
            <li v-for="user in users">{{user}}</li>
        </ul>
        <h2>Numbers</h2>
        <p v-for="number in 10">{{number}}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.11/dist/vue.global.js"></script>
    <script src="./main.js"></script>
</body>

</html>